body {
  background-color: white;
  margin: 0;
  color: black;
}

a {
  /* 밑줄 지우기 */
  text-decoration: none;
  color: black;
}

.hello {
  text-align: center;
}

.title {
  text-align: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 24px;

  &:hover {
    color: rgb(0, 157, 255);
  }
}

.background {
  margin: 0 auto;
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  height: 300px;
  width: 90vw;
  border-radius: 20px;
}

.sub {
  color: black;
}

.food {
  margin: 20px auto;
  width: 200px;
  background-color: darkgray;
  color: black;
  padding: 20px;
  border-radius: 20px;
}

.Link {
  display: flex;
  align-items: center;
  justify-content: center;
}
